.leaflet-container {
  width: 80vw;
  height: 75vh;
  border-radius: 0.5rem;
}

.details {
  padding-top: 3rem;
}

.details .map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.details .item {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 6%;
}

.details .item p {
  font-size: 15px;
}

.details .item img {
  width: 5rem;
  height: 5rem;
}

.details .item:nth-child(even) {
  border-radius: 0.5rem;
}

.details .item:nth-child(odd) {
  background: var(--primary-color);
  border-radius: 0.5rem;
}

@media (max-width: 600px) {
  .leaflet-container {
    width: 90vw;
    height: 70vh;
    border-radius: 0.5rem;
  }
}
